{{$backendServers := .Servers}}
[backends]{{range $backendName, $backend := .Backends}}
    {{if hasCircuitBreakerLabel $backend}}
    [backends.backend-{{$backendName}}.circuitbreaker]
      expression = "{{getCircuitBreakerExpression $backend}}"
    {{end}}

    {{if hasLoadBalancerLabel $backend}}
    [backends.backend-{{$backendName}}.loadbalancer]
      method = "{{getLoadBalancerMethod $backend}}"
      sticky = {{getSticky $backend}}
    {{end}}

    {{if hasMaxConnLabels $backend}}
    [backends.backend-{{$backendName}}.maxconn]
      amount = {{getMaxConnAmount $backend}}
      extractorfunc = "{{getMaxConnExtractorFunc $backend}}"
    {{end}}

    {{$servers := index $backendServers $backendName}}
    {{range $serverName, $server := $servers}}
      [backends.backend-{{$backendName}}.servers.server-{{$server.Name | replace "/" "" | replace "." "-"}}]
      url = "{{getProtocol $server}}://{{getIPAddress $server}}:{{getPort $server}}"
      weight = {{getWeight $server}}
    {{end}}

{{end}}

[frontends]{{range $frontend, $containers := .Frontends}}
  [frontends."frontend-{{$frontend}}"]{{$container := index $containers 0}}
  backend = "backend-{{getBackend $container}}"
  passHostHeader = {{getPassHostHeader $container}}
  priority = {{getPriority $container}}
  entryPoints = [{{range getEntryPoints $container}}
    "{{.}}",
  {{end}}]
    [frontends."frontend-{{$frontend}}".routes."route-frontend-{{$frontend}}"]
    rule = "{{getFrontendRule $container}}"
    {{$CORS := getCORS $container}}
    {{if $CORS}}
    [frontends."frontend-{{$frontend}}".cors]
    {{if $CORS.AllowedOrigins}}allowedOrigins = [{{range $CORS.AllowedOrigins}}"{{.}}",{{end}}]{{end}}
    {{if $CORS.AllowedMethods}}allowedMethods = [{{range $CORS.AllowedMethods}}"{{.}}",{{end}}]{{end}}
    {{if $CORS.AllowedHeaders}}allowedHeaders = [{{range $CORS.AllowedHeaders}}"{{.}}",{{end}}]{{end}}
    {{if $CORS.ExposedHeaders}}exposedHeaders = [{{range $CORS.ExposedHeaders}}"{{.}}",{{end}}]{{end}}
    allowCredentials = {{$CORS.AllowCredentials}}
    maxAge = {{$CORS.MaxAge}}
    optionsPassthrough = {{$CORS.OptionsPassthrough}}
    {{end}}
{{end}}
